.social_title h2{
font-size: 32px;
font-weight: 600;
line-height: 39.01px;
text-align: center;
color: #fff;
}

.social{
    padding: 50px;
}

@media(max-width:700px){
    .google_and_apple{
        display: flex;
        flex-direction: column;
        gap: 10px;

    }
    .google_and_apple a img{
        width: 100%;
    }
    // .google_and_apple .imgage{
    //     width: 85%;
    // }
}